<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>..::Colégio Logos - Estágio::..</title>
<h:outputStylesheet name="style.css" library="css" />

</h:head>
<h:body>

	<div id="template_pages">
		<div id="template_pages_top">
			<p:graphicImage url="/images/_bannerestagio.png"/>
			<p:commandButton value="Usuário Logado: #{sessionScope.usuarioLogado.nome} #{sessionScope.usuarioLogado.perfil.id eq 2 ? -  sessionScope.usuarioLogado.semestre.nomeSemestre : ''}"/>
		</div>
		
		<div id="template_pages_menu">
			<h:form>
				<p:menubar>
					<p:submenu label="Logos">
						<!-- <p:menuitem value="Home" icon="ui-icon-home" url="/pages/home.jsf"/>-->
						<p:menuitem value="Sobre" icon="ui-icon-comment" onclick="sobreNos.show();"/>
					</p:submenu>
					
					<p:submenu label="Cadastro" rendered="#{sessionScope.usuarioLogado.perfil.cadastroUsuario}">
						<p:menuitem value="Usuário" icon="ui-icon-person" rendered="#{sessionScope.usuarioLogado.perfil.cadastroUsuario}" url="/pages/usuario.jsf" />
						<p:menuitem value="Campo" icon="ui-icon-home" rendered="#{sessionScope.usuarioLogado.perfil.cadastroCampo}" url="/pages/campoEstagio.jsf" />
						<p:menuitem value="Supervisor" icon="ui-icon-person" rendered="#{sessionScope.usuarioLogado.perfil.cadastroSupervisor}" url="/pages/supervisor.jsf" />
						<p:menuitem value="Aluno" icon="ui-icon-person" rendered="#{sessionScope.usuarioLogado.perfil.cadastroAluno}" url="/pages/aluno.jsf" />
						<p:menuitem value="Turma" icon="ui-icon-newwin" rendered="#{sessionScope.usuarioLogado.perfil.cadastroTurma}" url="/pages/turma.jsf" />
						<p:menuitem value="Semestre" icon="ui-icon-newwin" rendered="#{sessionScope.usuarioLogado.perfil.cadastroTurma}" url="/pages/semestre.jsf" />
						<p:menuitem value="Grupo" icon="ui-icon-newwin" rendered="#{sessionScope.usuarioLogado.perfil.cadastroTurma}" url="/pages/grupo.jsf" />
					</p:submenu>

					<p:menuitem value="Preencher Relatorio" icon="ui-icon-clipboard" rendered="#{sessionScope.usuarioLogado.perfil.relatorioAluno}" url="/pages/turmaVinculada.jsf" />
					<p:menuitem value="Liberar Relatorio" icon="ui-icon-clipboard" rendered="#{sessionScope.usuarioLogado.perfil.liberarRelatorio}" url="/pages/liberarRelatorio.jsf" />
					<p:menuitem value="Validar Relatório" icon="ui-icon-clipboard" rendered="#{sessionScope.usuarioLogado.perfil.relatorioAdmin}" url="/pages/relatorioAdmin.jsf" />
					<p:menuitem value="Revisar Relatório" icon="ui-icon-clipboard" rendered="#{sessionScope.usuarioLogado.perfil.revisaoRelatorio}" url="/pages/revisaoRelatorio.jsf" />
					<p:menuitem value="Relatório Enviado" icon="ui-icon-clipboard" rendered="#{sessionScope.usuarioLogado.perfil.relatorioEnviado}" url="/pages/relatorioEnviado.jsf" />
					<p:menuitem value="Mudar Senha" icon="ui-icon-locked" onclick="mudarSenha.show();"/>
					<p:menuitem value="Sair" icon="ui-icon-power" actionListener="#{autenticarBean.logout}" />
				</p:menubar>
			</h:form>
		</div>
		
		<div id="template_pages_conteudo">
			<ui:insert name="conteudo">
			
			</ui:insert>
		</div>
		
		<p:dialog styleClass="sobreNos" widgetVar="sobreNos" modal="true" width="520" height="330" 
			 header="Sobre o Colégio Logos" resizable="false">
			<!-- <p:graphicImage url="/images/logo.png" width="200"/><br/><br/> -->
			<p align="justify">
			&nbsp;&nbsp;&nbsp;O Colégio Logos atua na qualificação do aluno, preparando-o para um futuro
			promissor. Portanto, formar um TÉCNICO EM ENFERMAGEM, é oferecer uma dádiva à comunidade,
			inserindo-o na sociedade, como um ser capacitado que optou pelo cuidado com a vida humana,
			exercendo sua função, que norteia a prevenção e o tratamento de doenças.<br/><br/>
			</p>
	
			&nbsp;&nbsp;&nbsp;Formar um TÉCNICO EM RADIOLOGIA é atingir mais um grau voltado para a 
			saúde, à prevenção e ao diagnóstico. É inserir um profissional na sociedade, que com 
			adequada habilitação, contribuirá para a vida dos que estarão em suas mãos.<br/><br/>
			
			&nbsp;&nbsp;&nbsp;Formar um TÉCNICO EM BIODIAGNÓSTICO é o alcance de mais uma realização, onde este 
			profissional atuará de forma precisa para análises, diagnósticos, realização de exames 
			e outros. Entretanto, formar não é apenas um dever a ser cumprido pelos educadores e 
			pela instituição, mas uma meta que visa o sucesso profissional e a promoção à saúde. 
			Hoje, a palavra mais adequada para definir a Instituição Logos é QUALIDADE, pois é o que 
			temos buscado e alcançado a cada dia.<br/><br/>
			
			Endereço: Conjunto 1HI Rua 01 Lotes 1 à 8<br/>
			CEP 72860-151 – Novo Gama/GO<br/><br/>
			
			Contato(s)<br/>
			Fone: +55(61)3628-0555 / Fax: +55(61)3628-0555<br/>
			E-Mail: contato@clogos.com.br<br/>
			Projeto: Relatório Estágio -
			<b>Versão 1.4</b><br/>
		</p:dialog>
		
		<h:form id="formSenha">
			<p:dialog header="..:: Mudar Senha de Usuário" closable="true" widgetVar="mudarSenha" resizable="false">
				<h:panelGrid id="grid" columns="2" width="400">
					<p:outputLabel for="perfil" value="Perfil:"/>
					<p:selectOneMenu id="perfil" value="#{autenticarBean.perfil.id}" style="width: 200px;">
						<f:selectItem itemValue="#{sessionScope.usuarioLogado.perfil.id}" itemLabel="#{sessionScope.usuarioLogado.perfil.nome}"/>
					</p:selectOneMenu>
					
					<p:outputLabel for="cpf" value="CPF:"/>
					<p:selectOneMenu id="cpf" value="#{autenticarBean.cpf}" style="width: 200px;">
						<f:selectItem itemValue="#{sessionScope.usuarioLogado.cpf}" itemLabel="#{sessionScope.usuarioLogado.cpf}"/>
					</p:selectOneMenu>
					
					<p:outputLabel for="senha" value="Nova Senha:"/>
					<p:password id="senha" value="#{autenticarBean.senha}" required="true" match="senha2"/>
					
					<p:outputLabel for="senha2" value="Confirme Nova Senha:"/>
					<p:password id="senha2" value="#{autenticarBean.senha}" required="true"  />
				</h:panelGrid>
				
				<p:commandButton value="Salvar" icon="ui-icon-disk" actionListener="#{autenticarBean.mudarSenha}" 
					update=":formSenha:grid :formMessageSenha"/>
			</p:dialog> 
		</h:form>
		
		<h:form id="formMessageSenha">
			<p:growl autoUpdate="true" rendered="#{autenticarBean.mensagem}" />
		</h:form>
	</div>

</h:body>
</html>